body {
  font-family: "Roboto";
}
body h1,
body h2,
body h3,
body h4,
body ul,
body p {
  margin: 0;
  padding: 0;
}
body ul {
  list-style: none;
}
body img {
  vertical-align: middle;
}
body a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

.header {
  padding: 24px 0px 25px;
  border-bottom: 1px solid #ececec;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 93px;
}
.header__nav-list {
  display: flex;
  gap: 46px;
}
.header__nav-item {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  color: #212121;
  text-decoration: none;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-item:hover, .header__nav-item:focus {
  color: #2196f3;
}
.header__nav-item:is(:hover, :focus)::after {
  content: "";
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  pointer-events: none;
}
.header__nav-item--active {
  color: #2196f3;
}
.header__nav-item--active::after {
  content: "";
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  pointer-events: none;
}
.header__nav-contact {
  display: flex;
  align-items: center;
  list-style: none;
}
.header__nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-left: 30px;
  color: #757575;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-link:is(:hover, :focus) {
  color: #2196f3;
}
.header__svg {
  vertical-align: middle;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: #2196f3;
  }
  .logo__studio {
    color: #212121;
  }
  .logo__studio--white {
    color: #ffffff;
  }
}
.slider {
  background: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bgbanner.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.slider__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: #ffffff;
  text-align: center;
  margin: 106px 252px 30px;
  letter-spacing: 0.06em;
}
.slider__button {
  padding: 10px 42px 10px 41px;
  margin-bottom: 106px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: transform, color, background-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.slider__button:hover {
  transform: scale(1.1);
  color: #2196f3 !important;
  background-color: #ffffff !important;
}

.articles {
  display: flex;
  gap: 30px;
}
.articles__title {
  font-weight: 700;
  font-size: 14px;
  color: #212121;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.articles__content {
  font-size: 14px;
  color: #757575;
  letter-spacing: 0.03em;
  line-height: 24px;
}
.articles__icon-bg {
  background: #F5F4FA;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.articles__icon {
  margin-top: 25px;
  margin-bottom: 25px;
}

.what-we-do {
  margin-top: -94px;
}
.what-we-do__list {
  list-style: none;
  display: flex;
  gap: 30px;
}
.what-we-do__img {
  display: block;
}
.what-we-do__heading {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
  color: #212121;
}
.what-we-do__bg-description {
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: relative;
  bottom: 70px;
  margin-bottom: -70px;
}
.what-we-do__title {
  font-weight: 700;
  font-style: bold;
  font-size: 14px;
  text-align: center;
  padding: 27px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.our-team {
  font-style: normal;
}
.our-team__bg {
  background: #f5f4fa;
}
.our-team__heading {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
  color: #212121;
}
.our-team__figure {
  background: #ffffff;
  margin-left: 0px;
  margin-right: 30px;
  gap: 50px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team__list {
  list-style: none;
  font-size: 16px;
  display: flex;
  gap: 30;
}
.our-team__name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #212121;
  padding-top: 30px;
}
.our-team__postion {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #757575;
  padding-top: 10px;
  padding-bottom: 30px;
}

.our-customers {
  font-style: normal;
}
.our-customers__heading {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.our-customers__list {
  list-style: none;
  display: flex;
  gap: 30px;
}
.our-customers__bg {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin-top: 50px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.our-customers__bg:is(:hover, :focus) {
  border-color: #2196f3;
}
.our-customers__icon {
  display: flex;
  margin: 16px 32px 16px 32px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-customers__bg:is(:hover, :focus) > .our-customers__icon {
  fill: #2196f3;
}

.portfolio-nav {
  list-style: none;
  display: flex;
  size: 100%;
  gap: 8px;
}
.portfolio-nav__box {
  margin-top: 94px;
  justify-content: center;
}
.portfolio-nav__button {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background: #f5f4fa;
  box-shadow: none;
  transition-duration: 0.4s;
  width: 121px;
  height: 38px;
  transform: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.portfolio-nav__button:hover, .portfolio-nav__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  display: flex;
}
.portfolio__grid {
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio__box {
  margin-top: 50px;
  margin-bottom: 94px;
}
.portfolio__list {
  font-family: "Roboto";
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0.03em;
  list-style: none;
  width: calc((100% - 60px) / 3);
}
.portfolio__list:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__figure {
  width: 370px;
  background-color: #ffffff;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.portfolio__img-box {
  position: relative;
  overflow: hidden;
}
.portfolio__overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__content {
  font-size: 16px;
  margin-left: 24px;
  color: #ffffff;
  padding-top: 4px;
  padding-bottom: 20px;
}
.portfolio__figcaption-box {
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  margin-left: 24px;
  color: #212121;
  padding-top: 20px;
}
.portfolio__pull-out-box {
  font-style: normal;
  height: 294px;
  width: 370px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-left: 0px;
  padding: 49px 45px 49px 24px;
  line-height: 1.56;
}
.portfolio__dscr {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
  letter-spacing: 0.03em;
  margin-left: 24px;
  padding-bottom: 20px;
}

.portfolio__figure:hover .portfolio__overlay {
  transform: translateY(0);
}

.footer > .container {
  display: flex;
}

.footer {
  padding: 60px 0;
}
.footer__bg {
  background: #2f303a;
}
.footer__adress {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-top: 20px;
}
.footer__location {
  font-weight: bold;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__location:hover, .footer__location:focus {
  color: #2196f3;
}
.footer__contact {
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  display: flex;
  padding: 0px;
}
.footer__contact:hover, .footer__contact:focus {
  color: #2196f3;
}
.footer__joinus-box {
  width: 206px;
  height: 80px;
  padding-top: 12px;
  margin-left: 70px;
}
.footer__joinus-heading {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}
.footer__social-icons {
  display: flex;
  gap: 10px;
}
.footer__newsletter {
  width: 570px;
  height: 86px;
  margin-left: 78px;
  margin-top: 12px;
}
.footer__sub-box {
  display: flex;
}
.footer__button-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  margin-left: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 0px 28px 0px 42px;
  gap: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__button-subscribe:hover, .footer__button-subscribe:focus {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.footer__sub-button-text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.footer__icon-send-sub {
  fill: #ffffff;
}
.footer__form-sub {
  width: 358px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 16px;
}
.footer__form-sub::-moz-placeholder {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}
.footer__form-sub:-ms-input-placeholder {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}
.footer__form-sub::placeholder {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}
.footer__title-newsletter {
  text-transform: uppercase;
  font-weight: 700;
  font-style: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 20px;
}

.social-icon {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  gap: 10px;
}
.social-icon__svg-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition-property: background-color, fill;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon__svg-bg--footer {
  background-color: rgba(255, 255, 255, 0.1);
}
.social-icon__svg-bg:hover, .social-icon__svg-bg:focus {
  background-color: #2196f3;
}
.social-icon__svg-bg:is(:hover, :focus) > .social-icon__svg {
  fill: #ffffff;
}
.social-icon__svg {
  fill: #757575;
  vertical-align: middle;
}
.social-icon__svg--footer {
  fill: #ffffff;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms ease, visibility 500ms ease;
}

.modal-backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  inset: 0;
}

.modal-backdrop.is-hidden .modal-box {
  transform: scale(0);
}

.modal {
  position: relative;
  width: 528px;
  border-radius: 4px;
  background-color: #ffffff;
  transition: transform 0.6s;
  transition-timing-function: ease;
  padding: 40px;
  text-align: center;
}
.modal__close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: inherit;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}
.modal__form {
  font-family: Roboto;
}
.modal__form-title {
  font-style: bold;
  font-size: 20px;
  line-height: 23px;
  color: #212121;
  text-align: center;
  margin-bottom: 30px;
}
.modal__form-field-name {
  display: block;
  font-style: regular;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
  margin-bottom: 4px;
  text-align: start;
}
.modal__form-icon {
  position: absolute;
  left: 55px;
  margin-top: 20px;
  transform: translateY(-50%);
  fill: #212121;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-icon:hover, .modal__form-icon:focus {
  fill: #2196f3;
}
.modal__form-field {
  width: 448px;
  height: 40px;
  margin-bottom: 10px;
  border: solid 1px;
  border-radius: 4px;
  border-color: rgba(33, 33, 33, 0.2);
  padding-left: 40px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-field:focus, .modal__form-field:hover {
  border-color: #2196f3 !important;
  outline: none;
}
.modal__form-field-comment {
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
  border: solid 1px;
  border-radius: 4px;
  border-color: rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-field-comment:hover, .modal__form-field-comment:focus {
  border-color: #2196f3;
}
.modal__form-field:focus + .modal__form-icon {
  fill: #2196f3;
}
.modal__textarea {
  width: 448px;
  height: 120px;
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
  padding: 16px 12px 16px 12px;
}
.modal__privacy-box {
  display: flex;
  gap: 7px;
  margin-bottom: 30px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  margin-left: 14px;
}
.modal__checkbox-wrapper {
  position: relative;
  width: 16px;
}
.modal__checkbox-hidden {
  display: none;
}
.modal__checkbox-not-checked {
  position: absolute;
  transform: translate(0%, -50%);
  top: 0;
  left: 0;
  opacity: 1;
}
.modal__checkbox-checked {
  position: absolute;
  transform: translate(0%, -50%);
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}
.modal__checkbox-hidden:checked ~ .modal__checkbox-checked {
  opacity: 1;
}
.modal__checkbox-hidden:checked + .modal__checkbox-not-checked {
  opacity: 0;
}
.modal__text-privacy-form {
  font-style: regular;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}
.modal__text-privacy-form-link {
  color: #2196f3;
}
.modal__button-submit {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button-submit:hover, .modal__button-submit:focus {
  transform: scale(1.1);
}

.mobile-menu {
  font-family: "Roboto";
  font-weight: 500;
  text-decoration: none;
  width: 480px;
  height: 769px;
}
.mobile-menu__link {
  text-decoration: none;
  font-size: 40px;
  color: #212121;
  margin-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196f3;
}
.mobile-menu__phone {
  font-size: 34px;
  color: #2196f3;
}
.mobile-menu__email {
  font-size: 24px;
  color: #757575;
}
.mobile-menu__social-link {
  font-size: 18px;
  line-height: 22px;
  color: #2196f3;
}/*# sourceMappingURL=main.css.map */