@import "./utils/variables";
@import "./utils/global";
@import "./components/header";
@import "./components/logo";
@import "./components/slider";
@import "./components/articles";
@import "./components/what-we-do.scss";
@import "./components/our-team";
@import "./components/our-customers";
@import "./components/portfolio-nav";
@import "./components/portfolio";
@import "./components/footer";
@import "./components/social-icon";
@import "./components/modal";
