.articles {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  @include tablet {
    flex-wrap: wrap;
  }
  @include desktop {
    flex-wrap: wrap;
  }

  &__li {
    max-width: 450px;

    @include tablet {
      max-width: 354px;
    }

    @include desktop {
      max-width: 270px;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    color: $BlackColor;
    text-transform: uppercase;
    padding-bottom: 10px;
  }

  &__content {
    font-size: 14px;
    color: $DarkGrayColor;
    letter-spacing: 0.03em;
    line-height: 24px;
  }

  &__icon-bg {
    background: $LightPurtpleColor;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    @include desktop {
      width: 270px;
      height: 120px;
    }
  }

  &__icon {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
