.articles {
  display: flex;
  gap: 30px;

  &__title {
    font-weight: 700;
    font-size: 14px;
    color: $BlackColor;
    text-transform: uppercase;
    padding-bottom: 10px;
  }

  &__content {
    font-size: 14px;
    color: $DarkGrayColor;
    letter-spacing: 0.03em;
    line-height: 24px;
  }

  &__icon-bg {
    background: $LightPurtpleColor;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  &__icon {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
