.footer {
  padding: 60px 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    @include desktop {
      flex-direction: row;
      align-items: baseline;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 60px;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }
  &__group {
    width: 100%;
    white-space: nowrap;
  }

  &__bg {
    background: $FooterBG;
  }

  &__adress {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
    padding-top: 20px;
  }

  &__location {
    font-weight: bold;
    color: $WhiteColor;
    transition: color $TransitionSet;

    &:hover,
    &:focus {
      color: $BlueColor;
    }
  }

  &__contact {
    margin-top: 9px;
    color: $Footer-contact;
    transition: color $TransitionSet;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 0px;

    &:hover,
    &:focus {
      color: $BlueColor;
    }
  }

  &__joinus-box {
    width: 100%;
    height: 80px;
    @include desktop {
      margin-top: 12px;
      margin-left: 10px;
    }
  }

  &__joinus-heading {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: $WhiteColor;
    @include desktop {
      text-align: left;
    }
  }

  &__social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    @include desktop {
      justify-content: flex-start;
    }
  }

  &__newsletter {
    width: 100%;
    margin-top: 12px;
    @include desktop {
      margin-left: 18px;
    }
  }

  &__sub-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    @include desktop {
      flex-direction: row;
    }
  }

  &__button-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: $BlueColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 0px 28px 0px 42px;
    gap: 24px;
    transition: background-color $TransitionSet;

    &:hover,
    &:focus {
      background-color: rgba(255, 255, 255, 0.1);
      cursor: pointer;
    }
  }

  &__sub-button-text {
    text-align: center;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: $WhiteColor;
  }

  &__icon-send-sub {
    fill: $WhiteColor;
  }

  &__form-sub {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 16px;

    /*margin-bottom: 20px;*/

    &::placeholder {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.6);
      padding-left: 16px;
    }

    @include tablet {
      max-width: 450px;
    }
  }

  &__title-newsletter {
    text-transform: uppercase;
    font-weight: 700;
    font-style: bold;
    font-size: 14px;
    line-height: 16px;
    color: $WhiteColor;
    margin-bottom: 20px;
    @include desktop {
      text-align: left;
    }
  }
}
