.our-customers {
  font-style: normal;

  &__heading {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    @include desktop {
      font-size: 36px;
    }
  }

  &__list {
    list-style: none;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 16px;
  }

  &__li {
    max-width: 210px;

    @include tablet {
      max-width: 226px;
    }

    @include desktop {
      max-width: 160px;
    }
  }

  &__bg {
    display: flex;
    justify-content: center;
    border: 1px solid #afb1b8;
    padding: 16px 0;
    border-radius: 4px;
    transition: border-color $TransitionSet;
    cursor: pointer;
    width: 210px;
    @include tablet {
      width: 226px;
    }
    @include desktop {
      width: 170px;
      margin-top: 50px;
    }

    &:is(:hover, :focus) {
      border-color: $BlueColor;
    }
  }

  &__icon {
    fill: $Gray-icons-color;
    transition: fill $TransitionSet;
  }

  &__bg:is(:hover, :focus) > &__icon {
    fill: $BlueColor;
  }
}
