.portfolio-nav {
  list-style: none;
  display: flex;
  size: 100%;
  gap: 8px;

  &__box {
    margin-top: 94px;
    justify-content: center;
  }

  &__button {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background: #f5f4fa;
    box-shadow: none;
    transition-duration: 0.4s;
    width: 121px;
    height: 38px;
    transform: color $TransitionSet;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $WhiteColor;
      background-color: $BlueColor;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
