$BlueColor: #2196f3;
$BlackColor: #212121;
$WhiteColor: #ffffff;
$DarkGrayColor: #757575;
$LightPurtpleColor: #F5F4FA;
$GrayColor: #AFB1B8;
$BgSlider: #2f303a;
$FooterBG: #2f303a;
$BG-OurTeamSection: #f5f4fa;
$Gray-icons-color: #AFB1B8;
$Footer-contact:  rgba(255, 255, 255, 0.6);
$TransitionSet: 250ms cubic-bezier(0.4, 0, 0.2, 1);